<div id="education">
    <h3>Education</h3>
    @foreach (var school in _education)
    {
        <div>
            <div class="schoolHeading">
                <h4>@school.Name</h4>
                <h5>@school.Degree</h5>
                <div class="schoolDate">
                    <p>@school.GetTimeStamp()</p>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(school.Description))
            {
                <div class="schoolDescription">
                    <p>@school.Description</p>
                </div>
            }
        </div>
    }
</div>