<section id="education">
    <h4>Education</h4>
    @foreach (var school in _education)
    {
        <div>
            <div class="schoolHeading">
                <h5>@school.Degree at @school.Name</h5>
                <div class="schoolDate">
                    <p>@school.GetTimeStamp()</p>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(school.Description))
            {
                <div class="description">
                    <p>@school.Description</p>
                </div>
            }
        </div>
    }
</section>