<section id="languages">
    <h5>Languages</h5>
    @if (_isLoaded)
        {
            @foreach (var (name, level) in _languages)
            {
                <div class="row skill">
                    <div class="col-8">@name</div>
                    <div class="col-4">@level</div>
                </div>
            }
        }
</section>