<div id="skills">
    <h5>Skills</h5>
    @if (_isLoaded)
    {
        @foreach (var skill in _skills)
        {
            <div class="row skill">
                <div class="col-lg-7">@skill.Name</div>
                <div class="col-lg-5">@skill.Level</div>
            </div>
        }
    }
</div>