<section id="skills">
    <h5>
        <mark>Skills</mark>
    </h5>
    @if (_isLoaded)
    {
        @foreach (var (name, level) in _skills)
        {
            <div class="row skill">
                <div class="col-lg-7">@name</div>
                <div class="col-lg-5">@level</div>
            </div>
        }
    }
</section>