<section id="workExperience">
    <h4>Work Experience</h4>
    @foreach (var job in _jobs)
    {
        <div>
            <div class="jobHeading">
                
                <h5>@job.Position at @job.Company</h5>
                <div class="jobDate">
                    <p>@job.GetTimeStamp()</p>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(job.Description))
            {
                <div class="description">
                    <p>@job.Description</p>
                </div>
            }
        </div>
    }
</section>