@page "/singlePageCv"
@using DotnetCV.Components;

<PageTitle>Curriculum Vitae</PageTitle>

<article class="container">
    <div class="row">
        <div id="left" class="col-sm-5">
            <PersonalInformation/>
            <Skills/>
            <Languages/>
        </div>
        <div id="right" class="col-sm-7">
            <MySummary/>
            <WorkExperience/>
            <Education/>
            <Hobbies/>
        </div>
    </div>
</article>