@page "/singlePageCv"
@using DotnetCV.Components;

<PageTitle>Curriculum Vitae</PageTitle>

<div class="container">
    <div class="row">
        <div id="left" class="col-sm-4">
            <PersonalInformation/>
            <Skills/>
            <Languages/>
        </div>
        <div id="right" class="col-sm-8">
            <div id="summary">
                <p>@_summary</p>
            </div>
            <WorkExperience/>
            <Education/>
            <Hobbies/>
        </div>
    </div>
</div>