
.footerLink {
    display: flex;
    position: sticky;
    top: 2000px;
}

.link
{
    background-color: var(--myBlack);
    text-align: center;
    color: var(--myWhite);
    text-decoration: none;
    width: 100%;
    padding: 4px;
}